{% extends 'posts/post_base.html' %}

{% block post_content %}
<div class="container">
  <h3>Are you sure you want to delete the post titled:</h3>
  <h2><strong>{{ post.message_html|safe }}</strong></h2>
</div>
  <!-- <div class="posts">
    {% include 'posts/_post.html' with post=object hide_delete=True %}
  </div> -->
  <form method="POST">
    {% csrf_token %}
    <input type="submit" value="Confirm Delete" class="btn btn-danger btn-lg">
    <a class="btn btn-warning btn-lg" href="{% url 'posts:single' username=user.username pk=object.pk % }">Cancel</a>
  </form>
{% endblock post_content %}
